[submodule "src/ydlidar_ros2_driver"]
	path = src/ydlidar_ros2_driver
	url = https://github.com/Janith-Chamikara/ydlidar_ros2_driver.git
[submodule "src/tunnel_pilot"]
	path = src/tunnel_pilot
	url = https://github.com/Janith-Chamikara/tunnel_pilot.git
[submodule "src/gz_simulation"]
	path = src/gz_simulation
	url = https://github.com/Janith-Chamikara/gz_simulation
